.displayFlex {
  display: flex;
}

.zionSymbol {
  margin: 1rem auto 0;
  width: 45%;
  max-width: 280px;

  justify-content: space-around;
}

.imgHeader {
  -webkit-filter: drop-shadow(0px 0px 10px var(--color-shadow-laranja));
  filter: drop-shadow(0px 0px 10px var(--color-shadow-laranja));
}