.mainTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;

}

.titulo {
  font-size: 1.5rem;

  color: var(--color-laranja-letras);
  margin: 0.5rem 1rem 1rem;
  text-align: center;
  font-weight: 500;
}

.paragrafo {
  color: var(--color-branco);
  font-size: 1.1rem;
  margin: 0 3rem;
  text-align: center;
}

.lista {
  color: var(--color-branco);
  text-align: center;
  margin: 1.5rem 2rem 1rem;
  font-size: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemLista {
  height: 1.2rem;
  width: 100%;
  max-width: 800px;
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 45px;
  border: .5px solid var(--color-laranja-letras);

  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #000;

  cursor: pointer;

}

.lista li {
  -webkit-box-shadow: 0px 0px 10px 2px var(--color-shadow-laranja);
  box-shadow: 0px 0px 10px 2px var(--color-shadow-laranja);
}

.imgLista {
  max-height: 2.5rem;
  width: 2.5rem;
  padding-right: 1.5rem;
}

.inverterCor {
  filter: invert(100%);
}

.iconeFooter {
  filter: invert(100%);
}

.whatsapp {
  width: 1.8rem;
  padding-right: 2rem;
  padding-left: 0.3rem;
}