.mainTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;

}

.titulo {
  font-size: 1.5rem;

  color: var(--color-laranja-letras);
  margin: 0.5rem 1rem 1rem;
  text-align: center;
  font-weight: 500;
}

.paragrafo {
  color: var(--color-branco);
  font-size: 1.1rem;
  margin: 0 3rem;
  text-align: center;
}

.lista {
  color: var(--color-branco);
  text-align: center;
  margin: 2rem;
  font-size: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemLista {
  height: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0.4rem;
  padding: 1rem;
  border-radius: 45px;
  border: 3px solid var(--color-laranja-letras);

  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #000;
}

.imgLista {
  width: 3rem;
  padding-right: 1.5rem;
}